h1 {
  color: #f4f804;
}
h1 {
  color: #07ee40;
}
h1 {
  color: #ca06f1;
}
h1 {
  color: #98c379;
}
h1 {
  color: #ff8c00;
}
h1 {
  color: #474747;
}
h1 {
  color: #3205faee;
}
h1 {
  color: #ff2d00;
}
